.header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
}
.header-menu {
    justify-content: end;
    display: flex;
    align-items: center;

}
.header-menu ul li a {
    color: rgba(255, 255, 255, 0.69)    ;
    font-size:14px;
    text-decoration: none;
    padding: 20px;
}
.header ul li a:hover{
    color:#fff;
    background-color: #ff8b38;
}
.button a.background-color-orange:hover{
    background-color: #fff;
    color: #ff8b38 !important;
}
.button a.white-text:hover{
    color: #ff8b38!important;
}
.content {
    margin-top: 77px;
}
.banner-first {
    margin-right: 60px;
    
}
.banner-first  *{
    font-family: "Raleway",sans-serif;
}
.top-banner{
    background-image: url(/assets/image/Header\ Panel.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh
}
.banner-header{
    padding:33px 0 36px;
    position: relative;
}
.banner-header h1{
    font-weight: 400;
    text-transform: uppercase;
    font-size:36px;

}
.banner-header::after{
    position: absolute;
    content:"";
    width: 10%;
    left: 0;
    border-bottom:3px solid #fff ;
    bottom: 0  ;    
}
.banner-content p{
    padding:30px 0;
    color: rgba(255, 255, 255, 0.8)    ;
    line-height: 1.44;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 50px;
}
.banner-second-section{
    padding-top: 30px;
    font-family: "openSan", sans-serif;
}
.banner-form-section h2{
    color: #333;
    font-size: 20px;
}

.banner-form-section > *{
    background-color: #fff;

}
.banner-form-section .form-header {
    background-color: #f5f5f5;
    padding:18px 56px 18px;
   
}
.banner-form-section .banner-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner-form-section .banner-form input{
    border:none;
    border-bottom: 1px solid #bdbdbd    ;
    color:#bdbdbd;
    padding: 10px 14px ;
    margin:18px 45px;
}
.banner-form-section .banner-form input[type="email"]{
    margin:18px 45px 29px;
}
.banner-form-section .banner-form input[type="submit"]{
    width: 100%;
    margin: 0;
    margin-top: 31px;
    padding:20px 0 ;
    border:none;
    color: #fff;
    font-size:15px
}
.banner-form-mobile{
    display: none;
}
.tab-section{
    padding:140px 0;
   
}
.tab-section * {
    font-family: 'opensans', sans-serif;
}
.tab-section .tab h3{
    font-size: 15px;
    color: #fff;
    padding:46px 35px;
    display: block;
    white-space: nowrap;
    border-bottom: 1px solid #fff;

}
.tab-content-section {
    padding:0 10%;
}
.tab-content h3{
    font-size:20px;
    font-weight: 700;
}
.tab-content{
    display: none;
}
.tab-content.open{
    display: flex;
    flex-direction: column;
    height: 342px;
    margin-bottom: 20px;
    transition: all 0.5s ease;
}
.tab-content-section{
    height: 342px;
    overflow: hidden;
}
.sublist-content > p{
    padding: 30px 0
}

.sublist-control img{
    padding:12px 10px;
    border-radius: 50%;
    border:1px solid #ff8b38;
}

.sublist-list p ,.sublist-list h4{
    padding-bottom: 12px;
    padding-left: 20px;
    
}
.sublist-list-items{
    padding-bottom: 30px;
}
.stand-picture-content > p {
    padding: 30px 0;
}
.why-this-is-awesome-section >p {
    margin: 30px 0 ;
}
.why-this-is-awesome {
    padding-top: 50px;
    gap:32px
}
.why-this-is-awesome .icon{
    width: 70px;
    height: 70px;
    margin-bottom: 4px;
}
.why-this-is-awesome > div {
    gap:25px
}
.sylish-axure-design{
    background: no-repeat url(/assets/image/u25_state0.png) ;
    background-size: cover;
}
.sylish-axure-design > div {
    padding: 64px 0;
    gap: 25px;
}
.contact-us-section{
    gap:30px
}
.contact-us-form {
    gap:67px
}
.contact-us-form > div {
    gap:30px
}
.contact-us-form > div input,.contact-us-form > div textarea{
    border:none;
    border-bottom: 1px solid #bdbdbd    ;
    color:#bdbdbd;
    padding: 10px 14px ; 
    font-size: 14px;
}
.contact-us-form > div textarea{
    width: 100%;
    height:88%
}
.footer>div {
    padding:15px
} 
.social-icon-item i{
    color: #ccc;
    padding:0 12px 13px;
    font-size: 18px;
}
.copy-right{
    color: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
}
.image-section img{
    width: 100%;
}